httpx
logfire
devtools
python-dotenv
pydantic-ai
google-generativeai
gradio>=5.9.0
nest-asyncio
aioconsole

poppler-utils
pytesseract 
pdf2image

#noa
asyncpg
git+https://github.com/rjn32s/mcp-ocr.git@main#egg=mcp_ocr
git+https://github.com/modelcontextprotocol/servers.git@main#egg=mcp_filesystem&subdirectory=src/filesystem
git+https://github.com/modelcontextprotocol/servers.git@main#egg=mcp_run_python&subdirectory=src/run_python