httpx
logfire
devtools
python-dotenv
pydantic-ai
google-generativeai
gradio>=5.9.0
nest-asyncio
aioconsole
aiohttp
async-timeout
pydantic-ai-slim[duckduckgo]
pydantic[email]

# System packages installed in Dockerfile:
# poppler-utils
# tesseract-ocr
# tesseract-ocr-hrv
pytesseract
pdf2image

#noa
asyncpg

#emanuel
python-docx
pymupdf
docx2pdf
